@use "./variables" as v;

header {
  background-color: rgba(v.$color-blue, 0.1);
}

header .header-title {
  display: flex;
  padding: {
    top: 1.5em;
    bottom: 1.5em;
  }
  align-items: center;
  justify-content: center;
  height: auto;
  background-color: v.$color-blue;
  padding: {
    left: 5%;
    right: 5%;
  }
}

header .header-title .title {
  display: flex;
  flex-direction: row;
  width: 1200px;
  background-color: v.$color-blue;
  gap: 2em;
  padding: {
    left: 20px;
    right: 20px;
  }
}
@media (max-width: 460px) {
  header .header-title .title {
    flex-direction: column;
    align-items: center;
  }
}

header .header-title .title .trapezoid {
  position: relative;
  width: 200px;
  height: 35px;
  background-color: #ffffff;
  transform: skewX(-30deg);
  overflow: hidden;
}

header .header-title .title .trapezoid .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) skewX(30deg);
  width: 100%;
}
nav {
  display: flex;
  justify-content: center;
}

header nav .navigation {
  padding: {
    top: 1em;
    bottom: 1em;
  }
  gap: 1em;
  height: auto;
  width: 1200px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 460px) {
  header nav .navigation {
    flex-direction: column;
  }
}

.page-link {
  position: relative;
}
.page-link::after {
  content: "";
  position: absolute;
  background-color: v.$color-blue;
  height: 2px;
  width: 100%;
  bottom: -4px;
  left: 0;
  background-color: v.$color-blue;

  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}

.page-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
nav li {
  transform: scale(1);
  transition: transform 250ms ease-in;
}

nav li:hover {
  transform: scale(1.05);
  // background-color: rgba(v.$color-green, .5);
}

.wrapper {
  display: flex;
  justify-content: center;
}

main {
  max-width: 1200px;
  
}

section {
  margin-top: 2.5em;
  padding: 20px;
}
.flex-title {
  padding-bottom: 20px;
}

.flex-horizontal {
  padding: 2em;
  display: flex;
  justify-content: centrer;
  align-items: center;
  gap: 5em;
  flex-direction: row;
  margin-bottom: 20px;
}
.article-flex {
  max-width: 40%;
  height: auto;
}

@media (max-width: 700px) {
  .flex-horizontal {
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  .article-flex {
    max-width: 100%;
    height: auto;
  }
}

.flex-vertical {
  display: flex;
  padding: {
    top: 4em;
    bottom: 2em;
  }
  gap: 2em;
  flex-direction: column;
  align-items: center;
  background-color: rgba(v.$color-secondary-blue, 0.1);
  text-align: center;
  margin-bottom: 20px;
}
.image-flex-vertical {
  display: flex;
  object-fit: fill;
  opacity: 0.2;
}

.card {
  width: 1200px;
  display: flex;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
}

.article {
  display: flex;
  flex-direction: column;
  background-color: rgba(v.$color-secondary-blue, 0.1);
  padding: 20px;
  align-items: flex-start;
  min-height: 420px;
  border-radius: 0 0 5% 0;
}
@media (max-width: 768px) {
  .article {
    min-height: auto;
  }
}

.grid-title {
  grid-column: 1 / span 3;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }

  .grid-title {
    grid-column: 1 / span 1;
  }
}

.icon {
  max-height: 100px;
}

input[type="text"] {
  padding: 1em;
  margin-right: 1em;
}

button {
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 10px 20px;
  background-color: v.$color-green;
  color: v.$color-blue;
  border: none;
  cursor: pointer;
}

.form {
  margin-top: 4em;
  padding: 2em;
  align-items: center;
  border-radius: 5%;
  min-height: 260px;
}

footer {
  background-color: rgba(v.$color-blue, 0.1);
}

.social-media {
  display: flex;
  gap: 2em;
}

.footer {
  height: auto;
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  width: 1200px;
  gap: 2em;
  padding: 20px;
}

@media (max-width: 564px) {
  .footer {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.fa-brands {
  color: v.$color-blue;
}

.icon-heading::before {
  content: "\f56b";
  font-family: "Font Awesome 6 Free";
  margin-right: 1em;
}