$font:'Source Sans Pro', sans-serif;
$color-blue: rgb(0, 59, 92);
$color-green: rgb(175, 189, 34);
$color-secondary-blue: rgb(62, 177, 200);
$color-secondary-green: rgb(108, 194, 74);
$color-secondary-yellow: rgb(242, 205, 0);
$color-secondary-orange: rgb(232, 119, 34);
